
<div mdl class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title" routerLink="/home" routerLinkActive="active">EduGems</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->

      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect menub" routerLink="/home"
                routerLinkActive="active">Ποιοι ειμαστε
        </button>
        <button *ngIf="!logedin" class="mdl-button mdl-js-button mdl-js-ripple-effect menub"
                routerLink="/login"
                routerLinkActive="active">Συνδεση
        </button>

        <button *ngIf="logedin" class="mdl-button mdl-js-button mdl-js-ripple-effect menub"
                routerLink="/myprofile"
                routerLinkActive="active">Προφίλ
        </button>

        <button *ngIf="logedin" class="mdl-button mdl-js-button mdl-js-ripple-effect menub"
                (click)="logout()">Αποσυνδεση
        </button>

        <button *ngIf="!logedin" class="mdl-button mdl-js-button mdl-js-ripple-effect menub"
                routerLink="/register"
                routerLinkActive="active">Εγγραφη
        </button>
      </nav>
      <form *ngIf="logedin" id="search" action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
                  mdl-textfield--floating-label mdl-textfield--align-right">
          <label class="mdl-button mdl-js-button mdl-button--icon"
                 for="fixed-header-drawer-exp">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" name="search"
                   id="fixed-header-drawer-exp">
            <label class="mdl-textfield__label" for="search">αναζήτηση</label>
          </div>
        </div>
      </form>
    </div>

  </header>

  <!--Side drawer menu-->
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">Edugems</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" routerLink="/">Ποίοι ειμαστε</a>
      <a class="mdl-navigation__link" *ngIf="!logedin" routerLink="/login" routerLinkActive="active">Σύνδεση</a>
      <a class="mdl-navigation__link" *ngIf="logedin" routerLink="/myprofile" routerLinkActive="active">Προφίλ</a>
      <a class="mdl-navigation__link" *ngIf="logedin" (click)="logout()">Αποσύνδεση</a>
      <a class="mdl-navigation__link" *ngIf="!logedin" routerLink="/register" routerLinkActive="active">Εγγραφή</a>
    </nav>
  </div>

</div>


<router-outlet (loggedInEmit)="onUpdate($event)"></router-outlet>
