.dark-primary-color {
  background: #512DA8;
}

.default-primary-color {
  background: #673AB7;
}

.light-primary-color {
  background: #D1C4E9;
}

.text-primary-color {
  color: #FFFFFF;
}

.accent-color {
  background: #536DFE;
}

.primary-text-color {
  color: #212121;
}

.secondary-text-color {
  color: #727272;
}

.divider-color {
  border-color: #B6B6B6;
}

.alter-color {
  background: #22597E;
}

#background {
  background: url("../../assets/images/girl.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: auto;
  position: relative;
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
  -moz-filter: brightness(80%);
  -o-filter: brightness(80%);
  -ms-filter: brightness(80%);
  opacity: 0.9;
  /*box-shadow: 0px 7px 5px #2d2626;*/
  -webkit-box-shadow: 0px 10px 12px 0px rgba(46, 50, 50, 0.75);
  -moz-box-shadow: 0px 10px 12px 0px rgba(46, 50, 50, 0.75);
  box-shadow: 0px 10px 12px 0px rgba(46, 50, 50, 0.75);
}

.mdl-grid {
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.floating {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.demo-card-wide.mdl-card {
  width: auto;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 117px;
  background: url('../../assets/images/login_card.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}
