body {
  position: relative;
}

.header__image {
  padding: 9em;
  color: white;
  /*background-color: black;*/
  clear: left;
  text-align: center;
  width:90%;
  background-repeat: no-repeat;
  background-size:cover;

}

.image--rounded{
  border:7px solid white;
  border-radius: 500px;
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
}

#profile__image{
  width: 300px;
  height: 300px;
  background-image: url('../../assets/images/marcela.jpg');
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
  /*float:left;*/
  z-index: 3;

}

#profile__name{
  color: white;
  font-size: 2.675em;
  font-weight: bold;
  font-family: Serif;
  margin-top: -9.2em;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
  position: relative;
}

#header__info{
  margin-top: -100px;
}

.info{
  width: 25em;
  font-family: "Lucida Bright",Georgia,serif;
  color: white;
  text-align: left;
  padding-left: 5em;
  padding-top: 10em;
  margin-top: -8.6em;
  z-index: -1
}


.blur-background{
  background:url('../../assets/images/light_shadow_blur_background.jpg');
  background-size: cover;
  position: absolute;
  width : 100%;
  height: 200%;
}


.example-card {
  width: auto;
}

.image-header{
  /*margin-top:100px;*/
  /*//padding-left: 50px;*/
  padding-top: 280px;
  /*//padding-right : 50px;*/
  width: auto;
  height: 200px;
  background-image: url("../../assets/images/yosemite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 3;
  -webkit-box-shadow: 2px 10px 84px 11px rgba(5,5,5,1);
  -moz-box-shadow: 2px 10px 84px 11px rgba(5,5,5,1);
  box-shadow: 2px 10px 84px 11px rgba(5,5,5,1);
}

.header-parent{
  /*padding-top:5px;*/
}

.container {

}

.class-content{
  z-index: 10;
  color: white;
  overflow: auto;
  position: relative;


}

.example-card {
  padding-top : 125px;
  width: 400px;
  position: absolute;
}

.profile-div__transparent {
  background-image: url("../../assets/images/profile_div1.jpg");
  z-index: -2;

}

.div_content {
  color: white;
  font-weight: bold;
  font-family: fantasy;

}
