<html>
<head>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>

<body>
<!--<div class="mdl-grid mdl-grid&#45;&#45;no-spacing">-->
  <!--<div class="header__image mdl-cell mdl-cell&#45;&#45;12-col">-->
  <!--</div>-->
  <!--<div id="header__info" class= "mdl-cell mdl-cell&#45;&#45;12-col">-->
    <!--<div class="image&#45;&#45;rounded" id="profile__image"></div>-->
    <!--<div id="profile__name">Mersini Metheniti</div>-->


  <div class="header-parent">
    <div class="image-header">
      <div class="image--rounded" id="profile__image">
      </div> <div id="profile__name">Marcela Vivan</div>

      <!--<img src="">-->

    </div>
  </div>


<md-card class="example-card">
  <md-card-header class="class-content">
    <div md-card-avatar class="example-header-image"></div>
    <md-card-title>Profile Info</md-card-title>
    <md-card-subtitle>Dog Breed</md-card-subtitle>
  </md-card-header>
  <md-card-content class="class-content">
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </md-card-content>
  <md-card-actions>
  </md-card-actions>
</md-card>

</body>

</html>
