<html>
<head>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
</head>

<body>
<!--<div class="mdl-grid mdl-grid&#45;&#45;no-spacing">-->
<!--<div class="header__image mdl-cell mdl-cell&#45;&#45;12-col">-->
<!--</div>-->
<!--<div id="header__info" class= "mdl-cell mdl-cell&#45;&#45;12-col">-->
<!--<div class="image&#45;&#45;rounded" id="profile__image"></div>-->
<!--<div id="profile__name">Mersini Metheniti</div>-->
<div id="container">

  <div class="header-parent">
    <div class="image-header">

      <div class="image--rounded" id="profile__image">
      </div>
      <div id="profile__name">Marcela Rafaela Vivan</div>

    </div>
  </div>
  <div class="container"
       fxLayout
       fxLayout.xs="column"
       fxLayoutAlign="center"
       fxLayoutGap="10px"
       fxLayoutGap.xs="0">
    <div class="item item-1 no-margin" fxFlex="33%">
      <md-card class="example-card profile-div__transparent" id="profile-div__first">

        <md-card-content class="class-content">
          <p class="div_content">
            <strong>Εκπαίδευση</strong><br>

          </p>
        </md-card-content>
        <md-card-actions>
        </md-card-actions>
      </md-card>

    </div>
    <div class="item item-2 no-margin" fxFlex="34%">

      <md-card class="example-card profile-div__transparent" id="profile-div__second">

        <md-card-content class="class-content">
          <p class="div_content">
          </p>
        </md-card-content>
        <md-card-actions>
        </md-card-actions>
      </md-card>

    </div>

    <div class="item item-3 no-margin" fxFlex="33%">

      <md-card class="example-card profile-div__transparent" id="profile-div__third">

        <md-card-content class="class-content">
          <p class="div_content">
            <strong>Badges</strong><br>


          </p>
        </md-card-content>
        <md-card-actions>
        </md-card-actions>
      </md-card>

    </div>
  </div>

  <md-card class="example-card2">
    <md-card-header>
      <div md-card-avatar class="example-header-image2"></div>
      <md-card-title>Shiba Inu</md-card-title>
      <md-card-subtitle>Dog Breed</md-card-subtitle>
    </md-card-header>
    <img md-card-image src="../../assets/images/shiba2.jpg">
    <md-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>

  <md-card class="example-card2">
    <md-card-header>
      <div md-card-avatar class="example-header-image2"></div>
      <md-card-title>Rambou</md-card-title>
      <md-card-subtitle>Yesterday 21:00:01</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>
        I want to marry you...Please come to Samos...
      </p>
    </md-card-content>
    <md-card-actions>
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </md-card-actions>
  </md-card>


</div>


</body>

</html>
